export GITHUB_USERNAME=REPLACE_WITH_GITHUB_USERNAME
export GITHUB_PASSWORD=REPLACE_WITH_GITHUB_PASSWORD_OR_PERSONAL_ACCESS_TOKEN

export CF_API=REPLACE_WITH_CF_API_URL
export CF_USERNAME=REPLACE_WITH_CF_USERNAME
export CF_PASSWORD=REPLACE_WITH_CF_PASSWORD
export CF_ORG=REPLACE_CF_ORG_NAME
export CF_SPACE=REPLACE_WITH_CF_SPACE_NAME
